*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    min-height: 100vh;
    background-color: #314566;
}

header{
    padding: 2rem 1rem;
    /* max-width: 800px; */
    width: 60%;
    margin: 0 auto;
}

h1{
   font-size: 2.5rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
   font-weight: 500;
   margin-bottom: 1rem;
   color: #6B7280;
}

#new_task_form{
    display: flex;
}

input, Button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new_task_input{
    padding: 1.2rem;
    width: 82%;
    /* flex: 1 1 0%; */
    font-size: 1.2rem;
    background-color: #1F2937;
    color: #EEE;
    border-radius: 1rem;
    margin-right: 1rem;
}

#new_task_input::placeholder{
    color: #6B7280;
}

#new_task_submit {
	color: #EC4899;
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, #EC4899, #8B5CF6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
} /* Fully Copied */



.task_list{
    padding: 1.2rem;
    width: 60%;
    margin: 0 auto;
}

.task_list h2{
    margin-bottom: 1rem;
    color: #6B7280;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#task .task{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    font-size: 1rem;
    background-color: #1F2937;
    border-radius: 12px;
    margin-top: 1.2rem;
}

.content .text{
    color: #EEE;
    font-size: 1.1rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.content .text:not(:read-only){
    color: #EC4899;
}

.actions{
    display: flex;
    margin: 0 .5rem;
    /* justify-content: space-around; */
}

.actions button{
    margin: 0 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.actions button:hover{
    opacity: .8;
}

.actions button:active{
    opacity: .6;
}

.actions .edit{
    background-image: linear-gradient(to right, #EC4899, #8B5CF6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.actions .dlt{
    color: crimson;
}


